name: Cypress Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: cypress_cucumber
          browser: chrome

      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots
          path: cypress_cucumber/cypress/screenshots

      - name: Upload videos
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: videos
          path: cypress_cucumber/cypress/videos

      - name: Generate HTML report
        run: node generate-report.js
        working-directory: cypress_cucumber

      - name: Upload HTML report artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-html-report
          path: cypress_cucumber/cypress/cucumber-htmlreport
